<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Tax Percent:</strong>
    <%= item.tax_category.tax_rate %>  
  </p>
  <p>
    <strong>Availability:</strong>
    <%= item.availability %>
  </p>

</div>
