<div id="<%= dom_id discount %>">
  <p>
    <strong>Base item:</strong>
    <%= discount.base_item.name %>
  </p>

  <p>
    <strong>Base item quantity:</strong>
    <%= discount.base_item_quantity %>
  </p>

  <p>
    <strong>Child item:</strong>
    <%= discount.child_item.name %>
  </p>

  <p>
    <strong>Child item quantity:</strong>
    <%= discount.child_item_quantity %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= discount.discount_percent %>
  </p>

</div>
