<%= form_with(model: discount) do |form| %>
  <% if discount.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
        <% discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :base_item_id, style: "display: block" %>
    <%= form.collection_select(:base_item_id, Item.available, 'id', 'name',  {prompt: 'Select Item'}) %>
  </div>

  <div>
    <%= form.label :base_item_quantity, style: "display: block" %>
    <%= form.number_field :base_item_quantity %>
  </div>

  <div>
    <%= form.label :child_item_id, style: "display: block" %>
    <%= form.collection_select(:child_item_id, Item.available, 'id', 'name',  {prompt: 'Select Item'}) %>
  </div>

  <div>
    <%= form.label :child_item_quantity, style: "display: block" %>
    <%= form.number_field :child_item_quantity %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount_percent %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
